// CORES

$bg-principal: #FFFFFF;
$bg-secundario: rgba(196, 25, 25, 0.03);
$bg-terciario: #F9FAFB;
$cor-textos: #667085;
$cor-titulo-principal: #101828;
$cor-detalhes: #8E2424;
$cor-detalhes-2: rgba(142, 36, 36, 0.05);
$cor-detalhes-3: #D0D5DD;

// FONTES

$fonte-principal: 'Inter', sans-serif;
$tamanho-fonte-base: 16px;
$peso-fonte-base: 500;
$peso-fonte-titulo: 600;
$peso-fonte-texto: 400;